<header >


   <div class="navbar navbar-fixed-top" >

    <div class="navbar-header" >
      <!-- 自适应隐藏导航展开按钮 -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 导航条LOGO -->
      <a class="navbar-brand" href="/">{{site.title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="nav"  class="nav navbar-nav">
            <li class="active"><a href="/index.html">主页</a></li>
            <li><a href="/blog/index.html">博客</a></li>
            <li><a href="/project.html">项目</a></li>
            <li><a href="/books.html">读书</a></li>
            <li><a href="/aboutme.html">关于我</a></li>

        </ul>
    </div>
</div>

</header>
