.footer{
        background: #666;
        color: rgba(255,255,255,0.5);
        text-align: center;
        padding: 10px;
        font-size: 12px;
        margin-top: 50px;
    }
    .footer p{
        margin-bottom: 2px;
    }
    .footer a{
        color: #fff;
    }