<!DOCTYPE html>
<html>
 {% include head.html %}
{% include header.html %}
 
  <body>
    <div class="bg-wrapper wrappers " id="section1">
      <div class="abs-content divider-panel">
        <div class="divider">
              
              </div>
      </div>
            <div class="abs-content hands-abs">
              
                <h1 class="title">DriftingDog</h1>
                
                <p>一只编程狗的乌有之乡</p>
            <p class="psm">城市数据挖掘， 数据可视化， WEB前端</p>
            </div>
            <a class="downbtn" href="#section2"></a>
            <div class="triangle-bottomleft"></div>
            <div class="triangle-bottomright"></div>
   </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
